@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;800&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
}
html,body{
    background: url(../assets/images/bg.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 800px) {
        background-position: -55rem;
     }
     @media (min-width: 500px) {
        background-position: -35rem;
     }
     @media (max-width: 400px) {
        background-position: -50rem;
     }
     @media (max-width: 375px) {
        background-position: -35rem;
     }
     @media (min-width: 799px) {
        background-position: -25rem;
     }
     @media (min-width: 1000px) {
        background-position: center;
     }
}
header{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    
    .logo{
        margin-left: 3rem;
        @media (max-width: 900px) {
            margin-left: 0rem;
         }
    }
    .nav{
        .mobile{
            @media (min-width: 1000px) {
                display: none;
            }
        }
    }
    .nav nav{
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin-right: 24vw;
            li{
                margin-right: 1rem;
                a{
                    text-decoration: none;
                    transition: .25s ease all;
                    position: relative;
                    overflow-x: hidden;
                }
            }
        }
        @media (max-width: 900px) {
            display: none;
        }
        
    }
}
a::after{
    content: " ";
    position: absolute;
    display: block;
    bottom: -.31rem;
    left:0%;
    height: 2px;
    width: 30%;
    // top: .4rem;
    background: white;
    transition: .5s ease all;
    display: none;
}

a:hover::after{
    transition: .5s ease all;
   left: 50%;
   right: 50%;
     display: block;
}
.aside{
    position: absolute;
    top: 0;
    width: 6vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(13, 9, 50, 0) 7.25%, #0D0932 100%);
    @media (max-width: 900px) {
        display: none;
    }
    .iconWrapper{
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        @media (max-width: 900px) {
           flex-direction: row;
           position: absolute;
        }
        img{
            margin-top: 2rem;
            width: 16px;
        }:first-child{
            margin-top: 0rem;
        }
    }
}

.stylee{
    position: absolute;
    top: 40%;
    left: 10%;
    img{
        width: 2rem;
    }
}
.discover{
    position: absolute;
    bottom: 15%;
    left: 8vw;
    transform: rotate(270deg);
    @media (max-width: 900px) {
        bottom: 10%;
        left: 1vw;
    }
    .discoverwrapper{
        display: flex;
        flex-direction: column;
    }
   p{
       font-size: 12px;
       text-align: center;
   }
   
}
.lines{
    position: absolute;
    bottom: 26%;
    left: 10vw;
    width: 2px;
    height: 50px;
    background-color: white;
    // transform: rotate(270deg);
}

.pagebtn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    // right: 50%;
    transform: translate(-50%);
    button{
        background-color: transparent;
        border: none;
        margin: 0rem 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        @media (max-width: 900px) {
           margin: 0rem 1rem;
        }
    }
    .btn{
        border: 2px solid white;
        // padding: 1rem;
        width: 50px;
        height: 50px;

        border-radius: 50%;
    }
}

.mainText{
    position: absolute;
    top: 25%;
    width: 50%;
    left: 20%;
    @media (max-width: 900px) {
       width: 100%;
       left: 0%;
       padding: 2rem;
    }
    p{
        font-size: .91rem;
        margin-top: .8rem;
    }
    span{
        color: #781F87;
    }
    p span{
        @media (max-width: 900px) {
            display: none;
          }
    }
    button{
        padding: 1rem 2.5rem;
        border: none;
        background:
        linear-gradient(270deg, #781F87 -40.51%, rgba(198, 196, 204, 0.0112994) -28.8%, rgba(162, 102, 177, 0.421893) 20.23%, rgba(180, 159, 188, 0.237536) 38.53%);
        border-radius: 12px;
        margin: 1rem 0rem;
    }
}